# project/common/pyproject.toml
[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
name = "common"
version = "0.1.0"
requires-python = ">=3.12"

[tool.setuptools]
packages = ["common"]
